.prettyButton {
    margin-right: 1rem;
    padding: 0.2rem;
    width: fit-content;
    height: 1.5rem;
    border: solid 1px black;
    border-radius: 5px;
    background-color: #ecffa8;
    text-decoration:none;
}

.formElement{
    margin-bottom: 0.5rem;
}